
.content {
      background: black;
      position: absolute;
      margin-left: 500px;
      margin-top: 150px;
}

.hidden {
  visibility: hidden;
}

.title {
  margin-top: 10px;
  font-size: 70px;
  color: white;
  text-align: center;
}

.subtitle {
  font-size: 40px;
  color: lightblue;
  text-align: center;
}

.format {
    width: 800px;
    height: 650px;
    background-size: contain;
    background-repeat: no-repeat;
}

.airlock0 {
    background-image: url("assets/frame0.jpg");
}

.airlock1 {
    background-image: url("assets/frame1.jpg");
}

.airlock2 {
    background-image: url("assets/frame2.jpg");
}

.airlock3 {
    background-image: url("assets/frame3.jpg");
}

.airlock4 {
    background-image: url("assets/frame4.jpg");
}

.airlock5 {
    background-image: url("assets/frame5.jpg");
}

.airlock6 {
    background-image: url("assets/frame6.jpg");
}

.airlock7 {
    background-image: url("assets/frame7.jpg");
}

.airlock8 {
    background-image: url("assets/frame8.jpg");
}

.airlock9 {
    background-image: url("assets/frame9.jpg");
}

.airlock10 {
    background-image: url("assets/frame10.jpg");
}

.airlock11 {
    background-image: url("assets/frame11.jpg");
}

.airlock12 {
    background-image: url("assets/frame12.jpg");
}

.airlock13 {
    background-image: url("assets/frame13.jpg");
}

.airlock14 {
    background-image: url("assets/frame14.jpg");
}

.airlock15 {
    background-image: url("assets/frame15.jpg");
}

.airlock16 {
    background-image: url("assets/frame16.png");
}

.countdown {
  color: red;
}

.entryfield {
  position: relative;
  top: 186px;
  left: 316px;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
  color: white;
  border-radius: 15px;
  background: #252525;
  width: 70px;
  height: 70px;
}

.blanks {
    position: relative;
    top: -123px;
    left: -8px;  
    background: black;
    color: green;
    font-weight: 800;
    font-size: 20px;
    width: 150px;
    height: 34px;
    padding-left: 14px;
  }

.info {
  position: relative;
  top: 130px;
  left: -8px;
  background: black;
  color: lightskyblue;
  font-weight: 700;
  font-size: 1rem;
  width: 150px;
  height: 130px;
  padding-left: 20px;
  padding-top: 10px;
}

.last {
    position: relative;
    top: 140px;
    left: -8px;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    color: red;
    background: black;
    width: 150px;
    height: 60px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px; 
  }

  #sound-msg {
      font-size: 0.8rem;
      color: white;
      text-align: center;
  }